.goods {
    display: grid;
    grid-column-end: auto;
    width: 450px;
    height: 450px;
    margin: 10px;

}
.imgItems img{
    width: 450px;
    height: 350px;
}
.goods:hover {
    display: grid;
    border: 5px solid gray;
}

.items{
    display: grid;
}


.items button {
    width: 150px;
    height: 30px;
    display: grid;
    border-radius: 10px;
    background-color: #e29717;
    border: solid #e29717;
    color: white;
    margin-left: 150px;
}