.drinks{
    overflow: hidden;
    width: 1294px;
    text-align: center;
    margin-top: 158px;
}
.elems{
    display: grid;
    grid-template-areas:
        "elems elems"
        "elems elems"
        "elems elems";

}